body {
background-color: #aec6cf;
}

.leftbutton {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: midnightblue; /* background color */
  color: white; /* text color */
  font-size: 1.5em;
  font-family: ‘Georgia’, serif;
  font-style: italic;
  border-radius: 50px; /* rounded corners */
  padding: 80px 160px; /* space around text */
  /* transition: all 0.2s; */
}

.rightbutton {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: midnightblue; /* background color */
  color: white; /* text color */
  font-size: 1.5em;
  font-family: ‘Georgia’, serif;
  font-style: italic;
  border-radius: 50px; /* rounded corners */
  padding: 80px 160px; /* space around text */
  /* transition: all 0.2s; */
}

.leftbutton:hover, .rightbutton:hover {
  background: grey;
  color: white;
}

.bodycontainer{
  margin: 5%;
}

#buttoncontainer {
  text-align: center;
}

table, th, td {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

th, td {
  padding: 15px;
  height: 10%;
  width: 20%;
}

table {
  border-collapse: collapse;
}

.navcontainer {
  margin: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  top: 50%;
  left: 50%;
  text-align: center;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 2em;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  opacity: 90%;
  color: black;
}

.welcome {
  margin-top: 3%;
  text-align: center;
}

.footercontainer {
  text-align: center;
}

/* Popup Code */
.button {
  font-size: 1em;
  padding: 10px;
  color: midnightblue;
  border: 2px solid midnightblue;
  border-radius: 20px/50px;
  text-decoration: none;
  background-color: lightblue;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background-color: midnightblue;
  color: lightblue
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: lightblue;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: midnightblue;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: midnightblue;
}

@media screen and (max-width: 700px){s
  .popup{
    width: 70%;
  }
}
